<h2>this is the heading</h2>
<form method="POST" action="/celebs/created">
    <label>
        Search for name
        <input type="text" name="name"/>
    </label>

    <label>
        Search for occupation
        <input type="text" name="occupation"/>
    </label>

    <label>
        Search for catch phrase
        <input type="text" name="catchPhrase"/>
    </label>

    <button type="submit">Submit</button>
</form>