<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/celebs/create">click here to create a new celebrity</a>
<br>
<a href="/celebs/celebrities">click here to see what celebrities we have</a>